{% extends 'bootstrap/base.html' %}

{% block title%}{% endblock %}
{% block navbar %}

<div class="navbar navbar-btn" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">基于Flask的教学管理系统</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>

            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container ">
  {% block page_content %}
    
  {% endblock %}
</div>

{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}
